<!--Create a basic Spring Boot app with one webpage describing your favorite movie.

Use Cloudinary to host your image. You must show at least 3 images.

Include Bootstrap in your app.-->

<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<link>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Favorite Film</title>
    <!--google font link-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <!--my css that overwrites it-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
</head>

<body style="background-color: #e3f2fd;">
<div class="container">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">HP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cast">Cast</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/music">Music</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/series">Series</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pottermore">Pottermore</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<br>
<br>

<div class="container">
    <div class="jumbotron" align="center";>
        <h1><b>Harry Potter and the Philosopher's Stone</b></h1>
        <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550785514/img_0633.gif" alt="Title gif" style="width:35%">
    </div>
</div>

<div align="center">
    <div class="container" style="width: 700px;">
        <div class="container" align="left">
            <h3>A closer look at J.K. Rowling's beloved character</h3>
            <br>
            <p>The film Harry Potter and the Sorcerer's Stone came out in 2001 and is the first of eight in the movie franchise based on J.K. Rowling's books.
                It tells the story of a boy wizard named Harry Potter who was destined to defeat the great evil wizard Voldemort, who terrorized both the Wizard and Human worlds.
            </p>
            <p>
                Throughout the series, the viewers see Harry grow into his role as the "chosen one", as he manages to rise to the occasions in times of trouble, with the support of his friends and family.
                Beloved by children, young adults and adults all alike, Harry Potter has been an integral part of the 90's kids life, and has grown into a francise over the decade long period.
                It continues to bewitch new audiences of this generation, and can be experienced in books, movies, and theatre adaptations, as well as in 4D theme park.
            </p>
            <br>
            <p>In this first installation, Harry enters the Magic world for the first time and attends the Hogwarts School of Witchcraft and Wizardry in England,
                where he learns the truth about his parents, and encounters evil in the most unexpected manner.</p>
            <br>
        </div>
    </div>


    <div class="container" style="width: 700px;">
        <h3>Characters</h3>
        <div align="left">
            <ul>
                <li>Harry Potter, "the boy who lived"</li>
                <li>Ron Weasley, red-headed and loyal</li>
                <li>Hermoine Granger, top of her class, and also from the muggle world</li>
                <li>Album Dumbledore, the school headmaster</li>
                <li>Hagrid, the gate keeper</li>
                <li>Professor McGonagll, part time professor, part time cat</li>
                <li>Professor Snape, puts Harry on his watchlist from day one</li>
            </ul>
        </div>
    </div>
    <br>

</div>
<br>

<div class="container" align="center">
    <h3>Snapshots</h3>
    <br><br>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550762415/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc_._V1_.jpg" alt="Poster" style="width:100%">
            <div class="container">
                <p>Movie Poster</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550762528/MV5BMTU0MzQ5NTAwMF5BMl5BanBnXkFtZTYwNTU0NTg3._V1_.jpg" alt="Harry with Hedwig" style="width:100%">
            <div class="container">
                <p>Harry with Hedwig</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550762630/MV5BMjAyMTUwMTQ4Ml5BMl5BanBnXkFtZTYwOTM0NTg3._V1_.jpg" alt="Wingadium Leviosa" style="width:100%">
            <div class="container">
                <p>Wingadium Leviosa</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550762616/MV5BNDExMjI0ODg4N15BMl5BanBnXkFtZTYwNTQ0NTg3._V1_.jpg" alt="Dark Forest" style="width:100%">
            <div class="container">
                <p>Dark Forest</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550763373/image.jpg" alt="great hall" style="width:100%">
            <div class="container">
                <p>The Great Hall</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550767513/harry-potter-and-the-sorcerers-stone.jpg" alt="The three" style="width:100%">
            <div class="container">
                <p>Ron, Hermoine and Harry</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550767516/HPSS.png" alt="wand" style="width:100%">
            <div class="container">
                <p>Harry's first wand</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550767520/mv5bmdqwywrlyzytmwy2ny00ngi2ltkzzdmtzgu2nzkxymi4ntgyl2ltywdll2ltywdlxkeyxkfqcgdeqxvynjk4mtgzmdi-_v1_.jpg" alt="the three" style="width:100%">
            <div class="container">
                <p>The Three</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550767641/hogwarts.jpg_1521001799.jpg" alt="castle" style="width:100%">
            <div class="container">
                <p>Hogwarts Castle</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550767702/a947150a07e9aae7e5bd4ada7271ccce--harry-potter--harry-ron.jpg" alt="platform" style="width:100%">
            <div class="container">
                <p>9 & 3/4 Platform</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="https://res.cloudinary.com/jihyunle/image/upload/v1550762584/MV5BMTkyMDM1NDA5MV5BMl5BanBnXkFtZTgwMzE0ODAxMTI_._V1_.jpg" alt="Sorting Hat" style="width:100%">
            <div class="container">
                <p>Sorting Hat</p>
            </div>
        </div>
    </div>
</div> <!--closing for bootstrap columns-->

<br><br>
<div class="container" align="center">
    <p>Visit the <a href="https://www.imdb.com/title/tt0241527/"> Harry Potter and the Philosopher's Stone </a> IMDB page</p>
    <br><br>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>